@media (min-width: 72rem) {
  .right-sidebar-container {
    width: var(--sl-sidebar-width) !important;
    flex-shrink: 0;
  }

  [data-has-sidebar][data-has-toc] .main-pane {
    width: auto !important;
    flex: 1 1 0%;
    max-width: none !important;
    margin-inline: 0 !important;
    --sl-content-width: 100%;
  }
}
